/* Styles for responsive layout */
.inquiries-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    /* margin: 0 10px; */
  }
  
  /* Media query for tablet-sized screens */
  @media (max-width: 768px) {
    .inquiries-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 15px;
    }
  }
  
  /* Media query for mobile-sized screens */
  @media (max-width: 480px) {
    .inquiries-container {
      grid-template-columns: 1fr;
    }
  }
  